aiogram
requests
PyYAML
bs4
cloudscraper
telebot
user_agent
Macros
faker
user_agent
fake_useragent
pycountry
jwt
urllib3
cloudscraper
uuid
flask-oauthlib
requests-oauthlib
regex
requests
beautifulsoup4
datetime
